@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
    border: 20px solid #BDC3C7;
    margin: 20px 10%;
    border-radius: 20px;
}
body {
    font-family: 'Lato', sans-serif;
    padding: 10px;
}
h2 {
    letter-spacing: 3.2px; 
    font-weight: bold; 
    font-size: 48px;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
}
h2:hover {
    text-align: center;
    transform: scaleX(1.5)
}
h4 {
    text-align: right;
    color: #3498DB;
    margin: 0;
    padding: 0;
}
p {
    text-align: right;
    border-bottom: 5px solid #BDC3C7;
    padding-bottom: 15px;
}
p:nth-of-type(3) {
    border-bottom: 10px solid #BDC3C7;
}
#center {
    text-align: center;
}
#last {
    border: none;
    margin: 0;
    padding: 0;
}